* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #dfc3ef;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 50vh;
    width: 12%;
    background-color: #001e34;
    justify-content: center;
    border-radius: 10px;
    border: none;
    display: grid;
    grid-template-columns: 4fr 7fr;

}

.content {
    height: 30rem;
    width: 20rem;
    background-color: #002b4a;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 1rem 1fr;
    border-radius: 10px;
    border: none;
}



h1{
    color: white;
    font-size: 2rem;
    margin-left: 12rem;
    margin-top: 8rem;
}

